@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background: url(bg1.jpg) no-repeat center center fixed;
    background-size: cover;
}
.container{
    color: white;
    position: absolute;
    top:  24%;
    left: 63%;
}
.container h1{
    font-size: 250%;
    border-bottom: 2px solid purple;
    margin-bottom: 43px;
    padding: 13px 0;
    font-family: 'Baloo Bhai 2', cursive;
}
.box{
    width: 337px;
    border-bottom: 2px solid purple;
}
.box input{
    width: 55%;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    margin: 9px 6px;
}
.btn{
    cursor: pointer;
    outline: none;
    width: 100%;
    margin: 40px 0;
    padding: 6px;
    border-radius: 7px;
    background: none;
    color: white;
    border: 1px solid purple;
    font-size: 15px;
    font-family: 'Baloo Bhai 2', cursive;
}
.box i{
    width: 25px;
    text-align: center;
    margin-top: 50px;
    padding-left: 20px;
}
::placeholder{
    color: white;
    font-family: 'Baloo Bhai 2', cursive;
}
footer{
    color: white;
    position: absolute;
    top: 95%;
    left: 40%;
    font-family: 'Baloo Bhai 2', cursive;
}
@media (max-width: 700px) { 
    footer{
        color: white;
        position: absolute;
        top: 144%;
        left: 54%;
        font-family: 'Baloo Bhai 2', cursive;
        justify-content: center;
        text-align: center;
    }
    body{
        background: url(bg1.jpg) no-repeat center center fixed;
        background-size: cover;
    }
  
}